.section {
  background-image: url("../../images/contacts-bg.jpg");
  padding-bottom: 164px;
}

.paid-clinic {
  min-height: 100vh;
}

.swiper-container {
  position: relative;
}

.swiper {
  width: 100%;
  height: 755px;
  border-radius: 10px;
  margin-top: 50px;
}

.swiper-slide {
  /*background: linear-gradient(90deg, #065736 10.67%, rgba(6, 87, 54, 0) 100%),
    url("../../images/green-clinic-picture.jpeg"),
    lightgray 50% / cover no-repeat;*/
  border-radius: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: start;
  align-items: center;
  padding-left: 115px;
}

.swiper-slide h1 {
  color: #fff;
  font-family: Geologica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 40%;
}

.button-prev {
  position: absolute;
  left: -83px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.button-next {
  position: absolute;
  right: -83px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

/*ROULETS*/

.roulets {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}

.roulet {
  border-radius: 90px;
  position: relative;
  /*max-width: 1431px;*/
  margin-right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  /*background-color: #04633e;*/
}

.roulet:last-child {
  margin-right: 0;
}

.roulet__preview {
  border-radius: 173px;
  background: #2db982;
  width: fit-content;
  padding: 60px 45px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.roulet__preview-underlay {
  background-color: #04633e;
  border-radius: 173px 0 0 173px;
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  overflow: hidden;
  visibility: hidden;
  transition: 0.99s ease-in-out;
}

.roulet__preview-underoverlay {
  background-color: #2db982;
  border-radius: 173px;
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.visible {
  visibility: visible !important;
}

.roulet__preview-num {
  color: #fff;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.roulet__preview-svg {
  margin-top: 19px;
  transition: 1s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.roulet__preview-text {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  margin-top: 59px;
  color: #fff;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.roulet-image {
  width: 0;
  position: absolute;
  right: -534px;
  bottom: 0;
  z-index: 0;
  transition: 1s ease-in-out;
}

.image-visible {
  width: 1373px;
}

.roulet__postview {
  background-color: #04633e;
  /*background-image: url("../../images/pin-item.png");*/
  background-size: cover;
  background-position: right;
  /*background-position: center;*/
  background-repeat: no-repeat;
  border-radius: 0 90px 90px 0;
  top: 0;
  z-index: auto;
  overflow: hidden;
  width: 0;
  transition: 1s ease-in-out;
  margin-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

/*.roulet__postview-2 {
	background-image: url("../../images/roulet-bg-2.png");
 }
 
 .roulet__postview-3 {
	background-image: url("../../images/roulet-bg-3.png");
 }*/

.full-width {
  width: 100%;
}

.roulet__postview-content {
  margin-left: 145px;
  width: 601px;
  opacity: 0;
  transition: 1s ease-in-out;
  position: absolute;
  z-index: 3;
}

.opacity-full {
  opacity: 1 !important;
}

.roulet__content-title {
  color: #fff;
  font-family: Geologica;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.roulet__postview-content ul {
  margin-top: 25px;
}

.roulet__postview-content li {
  color: #fff;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px; /* 156.25% */
}

.roulet__postview-content li:first-child {
  margin-top: 0;
}

.map-show {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map-show svg {
  margin-right: 10px;
}

.map-show p {
  color: #fff;
  font-family: Geologica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.roulet__content-subtitle {
  color: #fff;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 16px;
}

.roulet__content-description {
  color: #fff;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin-top: 25px;
}

.roulet__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.roulet__button {
  width: 290px;
  text-align: center;
}

.queue-button {
  width: 350px;
  margin-top: 30px;
}

.roulet__buttons-yellow {
  border-radius: 108px;
  background: #ffca79;
  padding: 20px;
}

.roulet__buttons-yellow span {
  color: #262626;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
}

.roulet__buttons-green {
  border-radius: 108px;
  background: #2db982;
  padding: 20px;
}

.roulet__buttons-green span {
  color: #fff;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 125% */
}

/*SEARCH*/

.search__container {
  margin-top: 120px;
}

.search__container h2 {
  color: #fff;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search__input {
  margin-top: 15px;
  border-radius: 90px;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 37px 22px;
}

.search__input input {
  border: none;
  border-radius: 90px;
  color: #004c2e;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  outline: none;
  font-weight: 400;
  line-height: normal;
  margin-left: 16px;
  width: 100%;
}

.search__input input::placeholder {
  color: #004c2e;
}

.directions {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 30px;
  grid-column-gap: 33px;
  grid-row-gap: 10px;
}

.direction {
  text-align: center;
  border-radius: 90px;
  background: #2db982;
  padding: 25px 0;
  color: #fff;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  cursor: pointer;
}

.direction:hover {
  background: #ffca79;
  color: #262626;
}

.paid-clinic-title {
  color: #fff;
  font-family: Geologica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 120px;
}

.m-services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 50px;
}

.m-services__item {
  background-color: #04633e;
  background-image: url("../../images/m-services-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 90px;
  height: 266px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 54px;
  padding-right: 30px;
}

.m-services__details,
.m-services__details-title {
  display: flex;
  align-items: center;
}

.m-services__details-m-icon {
  margin-right: 35px;
}

.m-services__details-title h4 {
  margin-right: 10px;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  color: white;
}

.m-services__details p {
  font-family: Geologica;
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 6px;
  color: white;
}

.m-services__details li {
  font-family: Geologica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  color: white;
}
