:root {
  --extra-extra-small: 374px;
  --extra-small: 425px;
  --small: 576px;
  --medium: 768px;
  --large: 992px;
  --extra-large: 1200px;
  --extra-extra-large: 1400px;
  --extra-extra-extra-large: 1600px;
}

.section {
  background-image: url("../../images/contacts-bg.jpg");
  padding-bottom: 164px;
}

.about-clinic {
  padding-left: 98px;
  padding-right: 103px;
}

.about-clinic__title {
  margin-top: 50px;
  margin-bottom: 60px;
}

.about-clinic__hero {
  background-color: #04633e;
  padding: 183px 154px 234px;
  background-image: url("../../images/about-clinic-hero.png");
  background-position: center;
  background-size: 100% 100%;
  width: 100%;
  opacity: 0;
  transform: translateY(100px);
  animation: slide-up 1s ease-in-out forwards;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-clinic__hero h1 {
  color: #fff;
  font-family: "Geologica", sans-serif;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 151px;
}

.about-clinic__hero p {
  color: #fff;
  font-family: "Geologica", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  width: 609px;
  line-height: 38px;
}

.about-clinic__headline {
  margin-top: 53px;
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-clinic__headline.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-clinic__text {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

.about-clinic__text.visible {
  opacity: 1;
  transform: translateY(0);
}

.about-clinic__description {
  color: #fff;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  margin-top: 25px;
  line-height: 28px;
}

.about-clinic__description-bold {
  font-weight: 800;
  margin-top: 35px;
}

@media (max-width: 1600px) {
  .about-clinic__hero {
    padding: 140px 120px 180px;
  }
}

@media (max-width: 1400px) {
  .about-clinic__hero {
    padding: 100px 120px 140px;
  }

  .about-clinic__hero h1 {
    font-size: 50px;
  }

  .about-clinic__hero p {
    font-size: 19px;
  }

  .about-clinic__description {
    font-size: 18px;
  }
}

@media (max-width: 1200px) {
  .about-clinic__hero {
    padding: 100px 100px 140px;
  }
}

@media (max-width: 992px) {
  .about-clinic__hero {
    padding: 120px 70px 140px;
  }
}
