.section {
  background-image: url("../../images/contacts-bg.jpg");
  padding-bottom: 164px;
}

.hospital {
  min-height: 100vh;
}

.swiper-container {
  position: relative;
}

.swiper {
  width: 100%;
  height: 755px;
  border-radius: 10px;
  margin-top: 50px;
}

.swiper-slide {
  border-radius: 90px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding-left: 115px;
}

.swiper-slide h1 {
  color: #fff;
  font-family: Geologica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  width: 40%;
}

.swiper-slide p {
  color: #fff;
  font-family: Geologica;
  font-size: 24px;
  font-weight: 300;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  width: 40%;
  margin-top: 30px;
}

.button-prev {
  position: absolute;
  left: -83px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.button-next {
  position: absolute;
  right: -83px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
}

.hospital__numbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 120px;
}

.hospital__number {
  padding: 82px 50px 107px;
  text-align: center;
  border-radius: 90px;
}

.hospital__number:nth-child(1) {
  background: linear-gradient(180deg, #3ee26c 0%, rgba(62, 226, 108, 0) 100%);
}

.hospital__number:nth-child(2) {
  background: linear-gradient(180deg, #72ea93 0%, rgba(62, 226, 108, 0) 100%);
}

.hospital__number:nth-child(3) {
  background: linear-gradient(180deg, #e0f7a0 0%, rgba(62, 226, 108, 0) 100%);
}

.hospital__number .hospital__number-top {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hospital__number .hospital__number-middle {
  font-family: Geologica;
  font-size: 128px;
  font-weight: 800;
  line-height: 160px;
  letter-spacing: 0em;
  color: white;
  margin-top: 18px;
}

.hospital__number .hospital__number-bottom {
  font-family: Geologica;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  color: white;
}

.hospital__tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 120px;
}

.hospital__tab {
  background-color: #04633e;
  background-image: url("../../images/hospital-tabs-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 90px;
  padding: 96px 50px 90px;
  display: flex;
  align-items: center;
}

.hospital__tab h3 {
  font-family: Geologica;
  font-size: 30px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0em;
  color: white;
  margin-left: 28px;
  margin-right: 10px;
}

.advantages-title {
  margin-top: 120px;
}

/*ROULETS*/

.roulets {
  display: flex;
  flex-direction: row;
  margin-top: 120px;
}

.roulet {
  border-radius: 90px;
  position: relative;
  /*margin-right: 30px;*/
  display: flex;
  flex-direction: row;
  align-items: center;
}

.roulet:last-child {
  margin-right: 0;
}

.roulet__preview {
  border-radius: 173px;
  background: #2db982;
  width: fit-content;
  padding: 60px 45px;
  position: relative;
  z-index: 2;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.roulet__preview-underlay {
  background-color: #04633e;
  border-radius: 173px 0 0 173px;
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -2;
  overflow: hidden;
  visibility: hidden;
  transition: 0.99s ease-in-out;
}

.roulet__preview-underoverlay {
  background-color: #2db982;
  border-radius: 173px;
  width: 100%;
  position: absolute;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

.visible {
  visibility: visible !important;
}

.roulet__preview-num {
  color: #fff;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 250;
  line-height: normal;
}

.roulet__preview-svg {
  margin-top: 19px;
  transition: 1s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.roulet__preview-text {
  writing-mode: vertical-lr;
  transform: rotate(-180deg);
  margin-top: 59px;
  color: #fff;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.roulet-image {
  width: 0;
  position: absolute;
  right: -534px;
  bottom: 0;
  z-index: 0;
  transition: 1s ease-in-out;
}

.image-visible {
  width: 1373px;
}

.roulet__postview {
  background-color: #04633e;
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
  border-radius: 0 90px 90px 0;
  top: 0;
  z-index: auto;
  overflow: hidden;
  width: 0;
  transition: 1s ease-in-out;
  margin-right: 30px;
  display: flex;
  align-items: center;
  position: relative;
}

.full-width {
  width: 100%;
}

.roulet__postview-content {
  margin-left: 145px;
  width: 601px;
  opacity: 0;
  transition: 1s ease-in-out;
  position: absolute;
  z-index: 3;
}

.opacity-full {
  opacity: 1 !important;
}

.roulet__content-title {
  color: #fff;
  font-family: Geologica;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.roulet__postview-content ul {
  margin-top: 25px;
}

.roulet__postview-content li {
  color: #fff;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px;
}

.roulet__postview-content li:first-child {
  margin-top: 0;
}

.map-show {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.map-show svg {
  margin-right: 10px;
}

.map-show p {
  color: #fff;
  font-family: Geologica;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
}

.roulet__content-subtitle {
  color: #fff;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  margin-top: 16px;
}

.roulet__content-description {
  color: #fff;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  margin-top: 25px;
}

.roulet__buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}

.roulet__button {
  width: 290px;
  text-align: center;
}

.queue-button {
  width: 350px;
  margin-top: 30px;
}

.roulet__buttons-yellow {
  border-radius: 108px;
  background: #ffca79;
  padding: 20px;
}

.roulet__buttons-yellow span {
  color: #262626;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.roulet__buttons-green {
  border-radius: 108px;
  background: #2db982;
  padding: 20px;
}

.roulet__buttons-green span {
  color: #fff;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

/*ANIMATIONS*/

.block1 {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.block1.visible {
  opacity: 1;
  transform: translateY(0);
}

.block2 {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.block2.visible {
  opacity: 1;
  transform: translateY(0);
}

.block3 {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.block3.visible {
  opacity: 1;
  transform: translateY(0);
}

.block4 {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.block4.visible {
  opacity: 1;
  transform: translateY(0);
}

/* modal */

#modal {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #262626;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  justify-content: center;
  align-items: center;
}

#modal-content {
  background-color: #fff;
  border-radius: 90px;
  padding: 55px;
  width: 65%;
}

#modal-content h3 {
  color: #262626;
  font-family: Geologica;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}

.modal__content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__content-bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 25px;
}

.modal__content-col-item {
  display: flex;
  align-items: center;
}

.modal__content-wrapper {
  display: flex;
  align-items: start;
}

.modal__content-col-item p {
  margin-right: 10px;
  font-family: Geologica;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.04em;
  text-align: left;
}

.modal__content-col-item:not(:first-of-type) {
  margin-top: 10px;
}

.modal__content-col-item-r {
  justify-content: space-between;
}

@media (max-width: 1800px) {
  .m-services {
    gap: 20px;
  }

  .m-services__item {
    padding: 0 30px;
  }

  .hospital__number .hospital__number-middle {
    font-size: 100px;
  }
}

@media (max-width: 1700px) {
  .roulet-image {
    right: -580px;
  }
  .roulet__postview-content {
    margin-left: 80px;
  }
}

@media (max-width: 1600px) {
  .image-visible {
    width: 1100px;
  }
  .roulet-image {
    right: -550px;
  }
  .roulet__postview-content {
    margin-left: 50px;
  }
  .roulet__postview {
    margin-right: 20px;
  }

  .swiper {
    height: 650px;
  }

  .hospital__tabs {
    gap: 20px;
  }
}

@media (max-width: 1500px) {
  .doctor__left,
  .doctor__right {
    height: 230px;
  }

  .doctor__right {
    padding: 70px;
  }

  .hospital__tab {
    padding: 96px 20px 90px;
  }

  .hospital__number {
    padding: 60px 35px 77px;
  }

  .hospital__number .hospital__number-middle {
    font-size: 80px;
  }

  .hospital__number .hospital__number-bottom {
    font-size: 25px;
  }
}

@media (max-width: 1400px) {
  .image-visible {
    width: 1000px;
  }

  .roulet__preview {
    padding: 30px 40px;
  }

  .roulet__preview-text {
    font-size: 20px;
  }

  .roulet__postview {
    margin-right: 10px;
  }

  .roulet__postview-content {
    margin-left: 45px;
  }

  .swiper {
    height: 580px;
  }

  .hospital__tab h3 {
    font-size: 25px;
  }
}

@media (max-width: 1300px) {
  .roulet__preview {
    padding: 25px 25px;
  }

  .roulet__postview-content {
    width: 550px;
  }

  .roulet__button {
    width: 250px;
  }

  .roulet__button span {
    font-size: 16px;
  }
}
