.section {
  background-image: url("../../images/contacts-bg.jpg");
  padding-bottom: 164px;
}

.osms__title {
  margin-top: 50px;
  margin-bottom: 60px;
}

.osms__hero {
  background-image: url("../../images/osms-card-bg.png");
  padding: 60px 350px 60px 90px;
  opacity: 0; /* Начальное значение непрозрачности (невидимый элемент) */
  transform: translateY(100px); /* Начальное значение смещения вниз */
  animation: slide-up 1s ease-in-out forwards;
}

@keyframes slide-up {
  to {
    opacity: 1; /* Значение непрозрачности при завершении анимации (элемент станет видимым) */
    transform: translateY(
      0
    ); /* Значение смещения при завершении анимации (элемент поднимется вверх) */
  }
}

.osms__hero-title {
  color: #fff;
  font-family: Geologica;
  font-size: 64px;
  font-style: normal;
  font-weight: 900;
}

.osms__hero-description {
  color: #fff;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: 38px; /* 158.333% */
  margin-top: 45px;
  margin-bottom: 40px;
}

.osms__hero-button {
  display: inline-flex;
  padding: 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 108px;
  color: black;
  background: #ffca79;
}

.osms__card {
  background-color: #04633e;
  padding: 79px 110px;
}

.osms__card-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.osms__card h2 {
  color: #fff;
  font-family: Geologica;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.28px;
  margin-left: 10px;
}

.osms__card p {
  margin-left: 58px;
  color: #fff;
  font-family: Geologica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.72px;
  margin-top: 24px;
}

.first-osms__card {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Добавленные переходы для плавности */
 }
 
 .first-osms__card.visible {
	opacity: 1;
	transform: translateY(0);
 }

.second-osms__card {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Добавленные переходы для плавности */
 }
 
 .second-osms__card.visible {
	opacity: 1;
	transform: translateY(0);
 }

.third-osms__card {
	opacity: 0;
	transform: translateY(100px);
	transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Добавленные переходы для плавности */
 }
 
 .third-osms__card.visible {
	opacity: 1;
	transform: translateY(0);
 }

@media (max-width: 1400px) {
  .osms__hero-description {
    font-size: 20px;
  }
}

@media (max-width: 1200px) {
  .osms__hero {
    padding: 60px 220px 60px 90px;
  }
}
