.section {
  background-image: url("../../images/contacts-bg.jpg");
  min-height: 100vh;
  padding-bottom: 164px;
}

.photogallery__title {
  margin-top: 50px;
  margin-bottom: 60px;
}

.photogallery__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 34px;
  opacity: 0;
  transform: translateY(100px);
  animation: slide-up 1s ease-in-out forwards;
}

@keyframes slide-up {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.album {
  border-radius: 90px;
  width: 100%;
  height: 393px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: 1s ease-in-out;
}

.album p {
  color: rgba(255, 255, 255, 0.6);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

.album h4 {
  color: #fff;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.64px;
  margin-right: 10px;
}

.album-content {
  position: absolute;
  display: flex;
  flex-direction: column;
  padding-left: 55px;
  padding-bottom: 55px;
  justify-content: end;
  border-radius: 90px;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #065736 10.67%, rgba(6, 87, 54, 0) 100%),
    url(<path-to-image>);
}

.album-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

@media (max-width: 1600px) {
  .album {
    height: 330px;
  }

  .photogallery__container {
    gap: 30px;
  }
}

@media (max-width: 1400px) {
  .album {
    height: 300px;
  }

  .photogallery__container {
    gap: 26px;
  }
}

@media (max-width: 1300px) {
  .album {
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .album {
    height: 210px;
  }

  .photogallery__container {
    gap: 20px;
  }
}
