.section {
  background-image: url("../../images/contacts-bg.jpg");
  padding-bottom: 164px;
}

.medical-tourism__title {
  margin-top: 50px;
  margin-bottom: 60px;
}

.medical-tourism__hero {
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  flex-direction: row;
  justify-content: space-between;
}

.medical-tourism__hero-card {
  position: relative;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 33%;
  padding: 55px 0 0;
}

.medical-tourism__hero-card::before {
  content: "";
  position: absolute;
  width: 85%;
  height: 100%;
  border-radius: 50px;
  background: linear-gradient(180deg, #3ee26c 0%, rgba(62, 226, 108, 0) 100%);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.medical-tourism__hero-card .top {
  color: #fff;
  font-family: Geologica;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.medical-tourism__hero-card .center {
  color: #fff;
  font-family: Geologica;
  font-size: 300px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}

.medical-tourism__hero-card .bottom {
  color: #fff;
  font-family: Geologica;
  font-size: 46px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.medical-tourism__hero-card .bottom span {
  color: #fff;
  text-align: center;
  font-family: Geologica;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.second::before {
  border-radius: 50px;
  background: linear-gradient(180deg, #72ea93 0%, rgba(62, 226, 108, 0) 100%);
}

.third::before {
  border-radius: 50px;
  background: linear-gradient(180deg, #e0f6a0 0%, rgba(62, 226, 108, 0) 100%);
}
