.section {
  background-image: url("../../../images/contacts-bg.jpg");
  padding-bottom: 164px;
}

.direction {
  min-height: 100vh;
}

.direction-title {
  margin-top: 50px;
  margin-bottom: 60px;
}

.search__input {
  margin-top: 15px;
  border-radius: 90px;
  background: #fff;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 37px 22px;
}

.search__input input {
  border: none;
  border-radius: 90px;
  color: #004c2e;
  font-family: Geologica;
  font-size: 16px;
  font-style: normal;
  outline: none;
  font-weight: 400;
  line-height: normal;
  margin-left: 16px;
  width: 100%;
}

.search__input input::placeholder {
  color: #004c2e;
}

.direction__details {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin-top: 40px;
}

.direction__details h3 {
  font-family: Geologica;
  font-size: 32px;
  font-weight: 600;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-bottom: 20px;
}

.direction__details p {
  font-family: Geologica;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
}

.direction__about {
  /*margin-right: 122px;*/
  width: 55%;
}

.direction__requirements {
  width: 37%;
}

.yellow-button {
  border: none;
  background: #ffca79;
  font-family: Geologica;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  padding: 30px;
  border-radius: 108px;
  width: fit-content;
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.yellow-button span {
  margin-right: 10px;
}

.specialists-title {
  margin-top: 120px;
}

.specialist {
  display: flex;
  align-items: stretch;
}

.specialist:not(:first-of-type) {
  margin-top: 80px;
}

.specialist img {
  width: 329px;
  height: 391px;
  border-radius: 90px 90px 90px 20px;
  object-position: center;
  object-fit: cover;
  margin-right: 57px;
}

.specialist__details h4 {
  font-family: Geologica;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.specialist__details h5 {
  font-family: Geologica;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
}

.specialist__details p {
  font-family: Geologica;
  font-size: 16px;
  font-weight: 250;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  margin-top: 15px;
}

.schedule__days {
  padding: 76px 102px;
  background-color: #fff;
  border-radius: 90px;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 59px;
}

.schedule__day {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.schedule__day-green-circle {
  width: 73px;
  height: 65px;
  background-color: #27ae79;
  border-radius: 90px;
  font-family: Geologica;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule__day p {
  font-family: Geologica;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #262626;
}
