.section {
  background-image: url("../../images/contacts-bg.jpg");
  padding-bottom: 164px;
}

.for-new-pacients__title {
  margin-top: 50px;
  margin-bottom: 60px;
}

.green-card {
  border-radius: 90px;
  background: #27ae79;
  padding: 85px 79px;
}

.first-green-card {
  opacity: 0; /* Начальное значение непрозрачности (невидимый элемент) */
  transform: translateY(100px); /* Начальное значение смещения вниз */
  animation: slide-up 1s ease-in-out forwards;
}

@keyframes slide-up {
  to {
    opacity: 1; /* Значение непрозрачности при завершении анимации (элемент станет видимым) */
    transform: translateY(
      0
    ); /* Значение смещения при завершении анимации (элемент поднимется вверх) */
  }
}

.first-transparent-card {
  opacity: 0; /* Начальное значение непрозрачности (невидимый элемент) */
  transform: translateY(100px); /* Начальное значение смещения вниз */
  animation: slide-up 1.4s ease-in-out forwards;
}

.second-green-card {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Добавленные переходы для плавности */
}

.second-green-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.third-green-card {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Добавленные переходы для плавности */
}

.third-green-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.third-transparent-card {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out; /* Добавленные переходы для плавности */
}

.third-transparent-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.green-card h2 {
  color: #fff;
  font-family: Geologica;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: -1.44px;
}

.green-card p {
  color: #fff;
  font-family: Geologica;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 150% */
  letter-spacing: -0.72px;
  margin-top: 20px;
}

.transparent-card {
  border-radius: 90px;
  border: 1px solid #0f8f5d;
  padding: 81px 101px;
  margin-top: 60px;
}

.second-transparent-card {
  opacity: 0;
  transform: translateY(100px);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.second-transparent-card.visible {
  opacity: 1;
  transform: translateY(0);
}

.transparent-card h2 {
  color: #ffca79;
  font-family: Geologica;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: -1.6px;
  margin-left: 20px;
}

.transparent-card-headline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 25px;
}

.transparent-card-span {
  color: #6dbd99;
  font-family: Geologica;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.72px;
}

.transparent-card__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 50px;
}

.transparent-card__row-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 40%;
}

.transparent-card__row-title span {
  color: #fff;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 27px; /* 135% */
  letter-spacing: -0.8px;
  margin-left: 10px;
  max-width: 411px;
}

.transparent-card__row-description {
  width: 65%;
}

.transparent-card__row-description p {
  color: #fff;
  font-family: Geologica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 27px; /* 150% */
  letter-spacing: -0.72px;
}

/*.transparent-card__row-description:not(:first-child) p {
  margin-top: 30px;
}*/

.transparent-card-number {
  position: relative;
}

.transparent-card-number span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #262626;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.64px;
}

@media (max-width: 1600px) {
  .transparent-card__row-description {
    width: 55%;
  }
}

@media (max-width: 1450px) {
  .responsive-items-start {
    align-items: start;
  }
}
@media (max-width: 1400px) {
  .green-card {
    padding: 85px 59px;
  }

  .transparent-card {
    padding: 81px 79px;
  }
}
