@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

/*:root {
	--extra-extra-small: 374px;
	--extra-small: 425px;
	--small: 576px;
	--medium: 768px;
	--large: 992px;
	--extra-large: 1200px;
	--extra-extra-large: 1400px;
	--extra-extra-extra-large: 1600px;
 }*/

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Geologica", sans-serif;
}

.section {
  padding-top: 60px;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.bold {
  font-weight: bold;
}

.relative {
  position: relative !important;
}

.container {
  padding-left: 98px;
  padding-right: 100px;
}

a {
  text-decoration: none;
  color: inherit;
}

.roulet__preview,
.roulet__postview {
  height: 565px;
}

ul,
ol {
  /*list-style-position: inside;*/
  margin-left: 16px;
}

.breadcrumbs {
  opacity: 0; /* Начальное значение непрозрачности (невидимый элемент) */
  transform: translateY(-50px); /* Начальное значение смещения вниз */
  animation: slide-down 1s ease-in-out forwards;
}

.close {
	cursor: pointer;
}

@keyframes slide-down {
  to {
    opacity: 1; /* Значение непрозрачности при завершении анимации (элемент станет видимым) */
    transform: translateY(
      0
    ); /* Значение смещения при завершении анимации (элемент поднимется вверх) */
  }
}

.breadcrumbs a {
  margin-right: 50px;
}

.breadcrumbs a:last-child {
  margin-right: 0;
}

.breadcrumbs a span {
  color: #3f8e6d;
  font-family: Geologica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.breadcrumbs a:last-child span {
  color: #fff;
  font-family: Geologica;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.title {
  color: #fff;
  font-family: Geologica;
  font-size: 64px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.animation-title {
  opacity: 0; /* Начальное значение непрозрачности (невидимый элемент) */
  transform: translateY(-50px); /* Начальное значение смещения вниз */
  animation: slide-down 1s ease-in-out forwards;
}

.orange {
  color: #da3f3f !important;
  font-family: Geologica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.72px;
}

.mt-60 {
  margin-top: 60px;
}

.card {
  background-image: url("../images/card-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  background-size: 100% 100%;
  border-radius: 90px;
}

.items-start {
  align-items: start !important;
}

.pointer {
  cursor: pointer;
}

.title-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.title-wrapper p {
  color: #fff;
  font-family: Geologica;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 28px; /* 140% */
}

.visibility-hidden {
  visibility: hidden;
}

@media (max-width: 1400px) {
  .title {
    font-size: 50px !important;
  }
}

@media (max-width: 1200px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
