.section {
  background-image: url("../../images/contacts-bg.jpg");
  padding-bottom: 164px;
}

.contacts {
  padding-left: 99px;
  padding-right: 99px;
}

.contacts__title {
  margin-top: 50px;
  margin-bottom: 60px;
}

.contacts__details {
  width: 100%;
  border-radius: 90px;
  padding: 48px 86px 50px 87px;
  display: grid;
  background-color: #04633e;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 37px;
  opacity: 0; /* Начальное значение непрозрачности (невидимый элемент) */
  transform: translateY(100px); /* Начальное значение смещения вниз */
  animation: slide-up 1s ease-in-out forwards;
}

@keyframes slide-up {
  to {
    opacity: 1; /* Значение непрозрачности при завершении анимации (элемент станет видимым) */
    transform: translateY(
      0
    ); /* Значение смещения при завершении анимации (элемент поднимется вверх) */
  }
}

.contacts__details-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contacts__detail-top {
  display: flex;
  align-items: center;
}

.contacts__detail-top svg {
  margin-right: 10px;
}

.contacts__detail span,
.contacts__detail p {
  color: #fff;
}

.contacts__detail p {
  margin-top: 9px;
  padding-left: 31px;
  color: #fff;
  font-family: Geologica;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px; /* 133.333% */
  letter-spacing: -0.72px;
}

.yandex-map {
  width: 100%;
  border-radius: 90px;
  opacity: 0; /* Начальное значение непрозрачности (невидимый элемент) */
  transform: translateY(100px); /* Начальное значение смещения вниз */
  animation: slide-up 1s ease-in-out forwards;
}

:root {
  --extra-extra-small: 374px;
  --extra-small: 425px;
  --small: 576px;
  --medium: 768px;
  --large: 992px;
  --extra-large: 1200px;
  --extra-extra-large: 1400px;
  --extra-extra-extra-large: 1600px;
}

.indent {
  display: none;
}

@media (max-width: 1400px) {
  .indent {
    display: block;
  }

  .contacts__details {
    padding: 48px 60px;
  }
}

@media (max-width: 1200px) {
  .contacts__details {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 992px) {
  .contacts__details {
    padding: 48px 45px;
  }
}

@media (max-width: 768px) {
  .contacts__details {
    grid-template-columns: 1fr;
  }
}
